[class^="el-icon-fa"], [class*=" el-icon-fa"] {
  display: inline-block;
  font-family: FontAwesome!important;
  font-size: 18px;
  font-style: normal;
  /*font: normal normal normal 14px/1 FontAwesome!important;*/
  //font-size: 1.5em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

$fa-css-prefix: el-icon-fa;
@import 'node_modules/font-awesome/scss/font-awesome';